<!DOCTYPE html>
<html lang="en">
  <head>
        {% load staticfiles %}

       <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
       <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

  </head>
  <body>
    <div class="container, center">

     <div class="pen-title">
            <h1>Checkout</h1>
    </div>

       <div class="row, module form-module" style="padding:20px;">
          <form role="form" action="." method="post">
           {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->

           <!-- If there are non-field errors in the form,
                iterate over them one by one and display them.
            -->
           {% if form.non_field_errors %}
            <p class="error">
  	          {% for error in form.non_field_errors %}
		            {{ error }}
		          {% endfor %}
            </p>
           {% endif %}
           <!-- Iterate over the fields in a form and render them  -->
              {% for field in form %}
                    <div class="form-group">
                      <!-- Render the field label tag -->
                          {{ field.label_tag }}
                      <!-- If the field is required, display a * next to the field label -->
                      {% if field.field.required %}
                      *
                      {% endif %}
                      <br/>
                      <!-- Render the input field -->
                          {{ field }}
                        <!-- Iterate over the field's errors, if any and display
                         them one by one in a error alert
                    -->
                        {% if field.errors %}
                          <p class="error">
                          {% for error in field.errors %}
                            {{ error }}
                          {% endfor %}
                          </p>
                        {% endif %}
                    </div>
              {% endfor %}
                <input onclick="JavaScript:alert('Your order has been placed. We will send you an Email confirmation soon. Now we will redirect you to Search Screen.')" type="submit" name="order" class="btn btn-primary btn-submit-fix"value="Place Order" />

   	  </form>
       <br />

      </div>
    </div>
  </body>
</html>